<h5>Mes posts</h5>
<hr/>
<% @posts.each do |p| %>
    <div class="card">
        <div class="card-body">
            <h4><%= p.name %></h4>
            <p class="m-0">
                <a class="btn btn-primary btn-sm" href="<%= post_path(p.id)%>">Show</a>
            </p>
        </div>
    </div>
<% end %>
